{% extends 'base.html' %}
{% block content %}

{% for player in players %}
<div class="card">
    <a href="{% url 'player_detail' player.id %}">
      <div class="card-content">
        <span class="card-title">{{ player.name}}</span>
        <h1>{{ player.team }}</h1>
        <p>Description: {{ player.description}}</p>
          <p>Age: {{ player.age }}</p>
          <p>Points Per Game: {{player.points_per_game}}</p> 
          
          
        </div>
    <a>
        <div class="card-action">
                <a href="{% url 'players_update' player.id%}" >Edit</a>
                <a href="{% url 'players_delete' player.id%}">Delete</a>
        </div>
    </div>


   
{% endfor %}
{% endblock %}